<div class="row mb-5 mt-5 ">
<div class="col-sm-12 col-md-8 pb-5">
<h1 class="mt-5 mb-3">About Filmsopedia
    </h1>
<h6 class="" style="color: slategray;line-height: 2rem;">Filmsopedia is India’s leading news and entertainment website dedicated to covering the OTT and digital entertainment sphere. Founded in 2020,Filmsopedia has very quickly scaled new heights in the business of OTT news coverage.
    
    At Filmspopedia, we strive to deliver impactful news stories, interesting insights and authoritative analysis of the OTT landscape. We pride ourselves on providing unique and thoughtful content on OTT, opinion pieces, unbiased reviews, breaking news and lots more.
    
    </h6>
<h6 style="color: slategray;line-height: 2rem;">We have painstakingly built a loyal and valued readership, for whom Filmsopedia is the trusted, definitive and go-to site for in-depth information related to OTT entertainment. Our credible, unbiased reviews of OTT shows, movies and shorts are easily the most trusted in the industry, and especially sought out by digital entertainment enthusiasts.
    
    We are also the only ones to cover all regional OTT platforms and content, including Bengali, Punjabi, Marathi, Tamil, Telugu, Malayalam, Kannada, Assamese, Oriya, among others.
    
    We have a young and passionate team that is the primary reason why Binged.com has achieved the hard-won status of being the top entertainment website in the country covering the OTT entertainment space.</h6>
</div>
</div>