<!-- create navbar -->
<nav class="navbar navbar-expand-sm  bg-light">
    <div class="container-fluid">
      
      <a class="navbar-brand " href="#" style="font-weight:bold;color:black;margin-right: 0px;"><i class="fas fa-film fa-2x me-2"></i></a>
      <p style="font-size: large;font-weight:bold;" class="mt-2">Filmsopedia</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="allMovies" routerLinkActive="active" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">All Movies</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " routerLink="providers" routerLinkActive="active" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">OTT Providers</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " routerLink="aboutUs" routerLinkActive="active" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">About Us</a>
          </li>
         
        
        </ul>
  
      </div>
    </div>
  </nav>
  
  
  <!-- nest products component -->
  <div class="container " style="min-height:505px ;">
    <router-outlet></router-outlet>
  </div>
  
  
  <!-- nest footer component -->
  
  <app-footer class="mt-auto"></app-footer>